@CHARSET "UTF-8";

a, body {
	color: #333
}

body, h2, li, p, ul {
	margin: 0;
	padding: 0
}

body, h2, iframe, li, p, ul {
	padding: 0
}

.container, .drop {
	box-sizing: border-box
}

.error-hint, .tab-con {
	text-align: center
}

body {
	font-family: tahoma, arial, 'Hiragino Sans GB', "Microsoft YaHei",
		'\5FAE\8F6F\96C5\9ED1', sans-serif;
	background: #f7f8f9;
	font-size: 14px;
	word-break: break-all
}

.drop, .list-con, .nav-bar, .tab {
	background: #fff
}

.iconfont, h2 {
	font-size: 16px
}


li, p, ul {
	list-style-type: none
}

a {
	text-decoration: none
}

a:hover {
	color: #00B4A4
}

.line {
	border-bottom: 1px solid #eee;
	height: 1px
}

.doctorpanel-cont .doctorpanel-title, .searchbox-cont .searchbox-dimension .searchbox-depart-title,
	.searchbox-cont .searchbox-dimension .searchbox-dimension-title,
	.searchbox-cont .searchbox-dimension .searchbox-zone-title {
	font-family: tahoma, arial, 'Hiragino Sans GB', "Microsoft YaHei",
		'\5FAE\8F6F\96C5\9ED1', sans-serif;
	line-height: 14px
}


#wrap {
	min-height: 500px;
	width: 1200px;
	margin: 0 auto;
	padding: 20px 0
}

.searchbox-cont {
	background: #FFF;
	border: 1px solid #EEE
}

.searchbox-cont .searchbox-dimension {
	border-bottom: 1px dashed #E5E5E5;
	padding: 18px 20px
}

.searchbox-cont .searchbox-dimension .searchbox-dimension-title {
	font-size: 14px;
	color: #999;
	margin-right: 15px
}

.searchbox-cont .searchbox-dimension .searchbox-depart-title,
	.searchbox-cont .searchbox-dimension .searchbox-zone-title {
	font-size: 14px;
	color: #333;
	margin-right: 40px;
	cursor: pointer
}

.searchbox-cont .searchbox-dimension .searchbox-depart-title.searchbox-depart-title-active,
	.searchbox-cont .searchbox-dimension .searchbox-depart-title.searchbox-zone-title-active,
	.searchbox-cont .searchbox-dimension .searchbox-depart-title:hover,
	.searchbox-cont .searchbox-dimension .searchbox-zone-title.searchbox-depart-title-active,
	.searchbox-cont .searchbox-dimension .searchbox-zone-title.searchbox-zone-title-active,
	.searchbox-cont .searchbox-dimension .searchbox-zone-title:hover {
	color: #00B4A4
}

.searchbox-cont .searchbox-dimension .searchbox-depart-title.searchbox-zone-title-disabled,
	.searchbox-cont .searchbox-dimension .searchbox-zone-title.searchbox-zone-title-disabled
	{
	color: #ccc;
	cursor: not-allowed
}

.searchbox-cont .searchbox-dimension .searchbox-zone-title {
	margin-right: 30px
}

.searchbox-cont :last-child {
	border-bottom: none
}

.doctorpanel-cont .doctorpanel-title {
	font-size: 16px;
	color: #666;
	padding: 30px 0 2px 12px
}

.doctorpanel-cont .doctorlist-cont {
	margin-left: 0
}

.doctorpanel-cont .doctorpanel-type-inquirying {
	margin-top: 12px
}

.doctorlist-title h2 {
	border-bottom: 1px solid #eee;
	padding: 16px 8px;
	font-size: 16px;
	color: #666
}

.doctorlist-card-depart-title .doctorlist-card-depart-title-text,
	.doctorlist-nav .doctorlist-nav-unit button {
	font-size: 14px;
	line-height: 14px;
	font-family: tahoma, arial, 'Hiragino Sans GB', "Microsoft YaHei",
		'\5FAE\8F6F\96C5\9ED1', sans-serif
}

.doctorlist-title.doctorlist-nav-title-fixed {
	position: fixed;
	top: 0;
	width: 1172px;
	background: #fff;
	z-index: 1000
}

.doctorlist-nav {
	float: left;
	width: 128px;
	background: #fff;
	height: 100%
}

.doctorlist-nav .doctorlist-nav-unit.active button {
	color: #00B4A4
}

.doctorlist-nav .doctorlist-nav-unit button {
	color: #666;
	height: 45px;
	background: #fff;
	border: none;
	outline: 0;
	cursor: pointer
}

.doctorlist-nav .doctorlist-nav-unit button:hover {
	color: #00B4A4
}

.doctorlist-nav.doctorlist-nav-fixed {
	position: fixed;
	top: 56px;
	border-top: 1px solid #eee
}

.doctorlist-cont {
	margin-left: 134px
}

.doctorlist-cont.doctorlist-cont-fixed {
	margin-top: 85px
}

.doctorlist-card-depart-title {
	margin-top: 30px;
	margin-left: 12px
}

.doctorlist-card-depart-title .doctorlist-card-depart-title-text {
	color: #666
}

.doctorlist-card-unit {
	display: inline-block;
	border: 1px solid #EEE;
	padding: 16px 16px 12px;
	vertical-align: top
}

.doctorlist-card-unit:hover {
	border: 1px solid #00CAAB
}

.doctorlist-card-unit .doctorlist-card-unit-avatar {
	display: inline-block
}

.doctorlist-card-unit .doctorlist-card-unit-avatar img {
	width: 90px;
	height: 90px;
	border-radius: 50%
}

.doctorlist-card-unit .doctorlist-card-unit-detail {
	display: inline-block;
	width: 202px;
	width: 198px\9;
	height: 99px;
	vertical-align: top;
	padding-left: 6px
}

.doctorlist-card-unit .doctorlist-card-unit-detail p {
	margin: 8px 0;
	line-height: 16px;
	max-height: 33px;
	overflow: hidden
}

.doctorlist-card-unit .doctorlist-card-unit-detail p.doctorlist-card-unit-stars-cont
	{
	margin-top: 2px
}

.doctorlist-card-unit .doctorlist-card-unit-detail p+p {
	margin: 3px 0
}

.doctorlist-card-unit .doctorlist-card-unit-detail .doctorlist-card-unit-name
	{
	font-family: tahoma, arial, 'Hiragino Sans GB', "Microsoft YaHei",
		'\5FAE\8F6F\96C5\9ED1', sans-serif;
	display: inline-block;
	font-size: 18px;
	color: #333;
	line-height: 18px;
	margin-right: 5px
}

.doctorlist-card-unit .doctorlist-card-unit-detail .doctorlist-card-unit-title
	{
	font-family: tahoma, arial, 'Hiragino Sans GB', "Microsoft YaHei",
		'\5FAE\8F6F\96C5\9ED1', sans-serif;
	display: inline-block;
	font-size: 12px;
	color: #999
}

.doctorlist-card-unit .doctorlist-card-unit-detail .doctorlist-card-unit-depart,
	.doctorlist-card-unit .doctorlist-card-unit-detail .doctorlist-card-unit-hospital
	{
	font-family: tahoma, arial, 'Hiragino Sans GB', "Microsoft YaHei",
		'\5FAE\8F6F\96C5\9ED1', sans-serif;
	font-size: 14px;
	color: #666
}

.doctorlist-card-unit .doctorlist-card-unit-detail .doctorlist-card-unit-star .star
	{
	color: rgba(0, 202, 170, .6)
}

.doctorlist-card-unit .doctorlist-card-unit-detail .doctorlist-card-unit-star .star.gray
	{
	color: #ddd
}

.doctorlist-card-unit .doctorlist-card-unit-detail .doctorlist-card-unit-star .star.star-none
	{
	color: #ccc
}

.doctorlist-card-unit .doctorlist-card-unit-labels {
	padding-bottom: 18px;
	border-bottom: 1px solid #eee;
	height: 20px;
	overflow: hidden
}

.doctorlist-card-unit .doctorlist-card-unit-labels .doctorlist-card-unit-labels-item
	{
	display: inline-block;
	padding: 1px 5px 2px;
	background: #FCFCFC;
	border: 1px solid #DDD;
	border-radius: 2px;
	font-family: tahoma, arial, 'Hiragino Sans GB', "Microsoft YaHei",
		'\5FAE\8F6F\96C5\9ED1', sans-serif;
	font-size: 12px;
	color: #999;
	float: left;
	margin: 5px 6px 10px 0
}

.doctorlist-card-unit .doctorlist-card-unit-bottom {
	padding-top: 14px
}

.doctorlist-card-unit .doctorlist-card-unit-bottom .doctorlist-card-unit-price
	{
	font-family: tahoma, arial, 'Hiragino Sans GB', "Microsoft YaHei",
		'\5FAE\8F6F\96C5\9ED1', sans-serif;
	font-size: 16px;
	color: #00B4A4
}

.doctorlist-card-unit .doctorlist-card-unit-bottom .doctorlist-card-unit-btn
	{
	padding: 2px 10px 1px;
	border: 1px solid #00CAAB;
	border-radius: 2px;
	background: 0 0;
	font-family: tahoma, arial, 'Hiragino Sans GB', "Microsoft YaHei",
		'\5FAE\8F6F\96C5\9ED1', sans-serif;
	font-size: 14px;
	color: #00B4A4;
	cursor: pointer;
	outline: 0;
	float: right;
	position: relative;
	top: -3px
}

.doctorlist-card-unit .doctorlist-card-unit-bottom .doctorlist-card-unit-btn.inquiry-now
	{
	background: #00CAAB;
	color: #fff
}

.doctorlist-card-unit .doctorlist-card-unit-bottom .doctorlist-card-unit-btn.preorder:hover
	{
	background: #F3FCFB
}

.doctorlist-card-unit .doctorlist-card-unit-bottom .doctorlist-card-unit-btn.disabled
	{
	display: inline-block;
	padding: 2px 8px 1px;
	width: 94px;
	height: 26px;
	border: 1px solid #CCC;
	border-radius: 2px;
	font-size: 14px;
	color: #CCC;
	cursor: not-allowed
}

.doctorlist-card-unit .doctorlist-card-unit-formore-pic {
	width: 70px;
	margin: 10px 0
}

.doctorlist-card-unit .doctorlist-card-unit-formore {
	font-family: tahoma, arial, 'Hiragino Sans GB', "Microsoft YaHei",
		'\5FAE\8F6F\96C5\9ED1', sans-serif;
	font-size: 16px;
	color: #666;
	line-height: 14px;
	text-align: center;
	position: relative;
	top: 30px
}

.doctorlist-card-unit.doctorlist-card-unit-index {
	background: #F8F8F8;
	margin: 12px 0 0 6px;
	width: 303px;
	height: 174px
}

.doctorlist-card-unit.doctorlist-card-unit-index .doctorlist-card-unit-queue
	{
	font-family: tahoma, arial, 'Hiragino Sans GB', "Microsoft YaHei",
		'\5FAE\8F6F\96C5\9ED1', sans-serif;
	font-size: 12px;
	color: #999;
	margin-left: 6px
}

.doctorlist-card-unit.doctorlist-card-unit-inquirying {
	background: #FFF;
	margin: 0 0 12px;
	width: 558px;
	display: inline-block
}

.doctorlist-card-unit.doctorlist-card-unit-inquirying:nth-child(2n+1) {
	margin-right: 10px
}

.doctorlist-card-unit.doctorlist-card-unit-inquirying .doctorlist-card-unit-detail
	{
	width: 296px
}

.doctorlist-card-unit.doctorlist-card-unit-inquirying .doctorlist-card-unit-labels
	{
	border-bottom: none;
	padding-top: 5px
}

.doctorlist-card-unit.doctorlist-card-unit-inquirying .doctorlist-card-unit-bottom
	{
	float: right;
	width: 154px
}

.doctorlist-card-unit.doctorlist-card-unit-inquirying .doctorlist-card-unit-price
	{
	margin: 8px 0;
	display: inline-block
}

.doctorlist-card-unit.doctorlist-card-unit-inquirying .doctorlist-card-unit-btn
	{
	display: block;
	float: none;
	width: 132px;
	height: 24px;
	background: #00CAAB;
	text-align: center;
	line-height: 24px;
	color: #fff
}

.doctorlist-card-unit.doctorlist-card-unit-inquirying .doctorlist-card-unit-queue
	{
	font-family: tahoma, arial, 'Hiragino Sans GB', "Microsoft YaHei",
		'\5FAE\8F6F\96C5\9ED1', sans-serif;
	font-size: 12px;
	color: #999;
	margin-left: 6px
}

.doctorlist-card-unit.doctorlist-card-unit-outstock,
	.doctorlist-card-unit.doctorlist-card-unit-preorder {
	background: #FFF;
	margin: 12px 6px 12px 0;
	width: 260px;
	padding: 16px 15px 7px
}

.doctorlist-card-unit.doctorlist-card-unit-outstock .doctorlist-card-unit-detail,
	.doctorlist-card-unit.doctorlist-card-unit-preorder .doctorlist-card-unit-detail
	{
	width: 158px;
	width: 155px\9
}

.doctorlist-card-unit.doctorlist-card-unit-outstock:nth-child(4n),
	.doctorlist-card-unit.doctorlist-card-unit-preorder:nth-child(4n) {
	margin-right: 0
}

.doctorlist-card-unit.doctorlist-card-unit-outstock .doctorlist-card-unit-queue,
	.doctorlist-card-unit.doctorlist-card-unit-preorder .doctorlist-card-unit-queue
	{
	font-family: tahoma, arial, 'Hiragino Sans GB', "Microsoft YaHei",
		'\5FAE\8F6F\96C5\9ED1', sans-serif;
	font-size: 12px;
	color: #999;
	margin-left: 6px
}

.doctorlist-card-unit.doctorlist-card-unit-outstock .doctorlist-card-unit-btn
	{
	display: inline-block;
	width: 94px;
	height: 26px;
	border: 1px solid #CCC;
	border-radius: 2px;
	font-size: 14px;
	color: #CCC
}
