/*全局文字颜色*/
.text-color-999, .aw-placeholder, .category dl dd span,
	.aw-search-dropdown-list li>span, .aw-search-dropdown-list li.question a span,
	.aw-side-bar dd, .aw-question-comment-box .aw-mod-head .aw-notopic-sort,
	.aw-question-edit .aw-mod-body .pull-right, .aw-common-list .aw-question-replay-count,
	.aw-question-tags a, .aw-feed-list .aw-upload-file-list a, .aw-agree-by .aw-agree-by-show,
	.aw-agree-by .aw-user-name, .aw-my-notifications .aw-mod-head h2 span,
	.aw-my-notifications .aw-mod-body ul li.active span,
	.aw-publish-title-dropdown p span, .aw-side-bar-mod-publish .aw-side-bar-mod-body p,
	.aw-side-bar-mod-topic-edit .aw-side-bar-mod-body p,
	.aw-new-message-tips .aw-mod-head .pull-right,
	.aw-new-message-tips-close span, .aw-mod-search-result .aw-search-result-tags,
	.aw-publish-box .aw-publish-box-supplement, .aw-first-login .aw-mod-head ul li.active em,
	.aw-first-login .aw-complete-data .aw-complete-data-img span {
	color: #999;
}

.aw-text-color-666, .aw-dropdown-menu ul a, .alert, .aw-nav-tabs>li.active a,
	.aw-user-nav-dropdown .aw-dropdown-menu  li>a, .aw-search-dropdown-list li a,
	.aw-search-dropdown-list li.question a span.active, .aw-comment-list,
	.aw-question-edit .aw-mod-body, .aw-question-tags a:hover,
	.aw-topic-content .aw-topic-title, .aw-edit-topic:hover,
	.aw-mod-invite-friend .aw-invite-box p, .aw-tabs ul li a, .aw-footer,
	.aw-card-tips, .aw-mod-replay-box .aw-mod-head p label,
	.markItUpPreviewFrame, .aw-404-wrap p, .aw-ie6 .pull-right p {
	color: #666;
}

.aw-common-list .aw-question-replay-count em, .markItUpPreviewFrame .title,
	h1, h2, h3 {
	color: #333;
}

.aw-message-tooltip, .aw-top-menu-wrap .aw-pulish a, .aw-nav-main li a,
	.aw-side-bar-mod-nav ul li a:hover, .aw-side-bar-mod-nav ul li a.active,
	.aw-common-list .aw-question-replay-count.active, .aw-first-login .aw-mod-head ul li em,
	.markItUpHeader ul ul a:hover {
	color: #fff;
}

.aw-load-more-content.warmming {
	color: #999;
}

.aw-text-color-red {
	color: #D14646;
	font-weight: 700;
}

.aw-placeholder {
	color: #999 !important;
}

.aw-winner-replay {
	color: #1A9F00;
}

.aw-dropdown-menu ul a:hover {
	color: #3887d2;
}

.alert-danger, .alert-error {
	color: #B94A48;
}

.aw-nav-tabs>li>a {
	color: #666;
}

.aw-logo span {
	color: #CFF1FF;
}

.category .title a {
	color: #17344A;
}

.aw-nav-main li a:hover {
	color: #93E2F3;
}

.aw-search-dropdown-list li a:hover {
	color: #005580;
}

.aw-agree-by .aw-user-name {
	color: #999 !important;
}

.aw-ie6 .pull-right h1 span {
	color: #c20200;
}

#loading-center-absolute {
	position: absolute;
	left: 50%;
	top: 20%;
	height: 200px;
	width: 200px;
	margin-top: -100px;
	margin-left: -100px;
	-ms-transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
}

.object {
	-moz-border-radius: 50% 50% 50% 50%;
	-webkit-border-radius: 50% 50% 50% 50%;
	border-radius: 50% 50% 50% 50%;
	position: absolute;
	border-top: 5px solid #1E6185;
	border-bottom: 5px solid transparent;
	border-left: 5px solid #1E6185;
	border-right: 5px solid transparent;
	-webkit-animation: animate 2s infinite;
	animation: animate 2s infinite;
}

#object_one {
	left: 75px;
	top: 75px;
	width: 50px;
	height: 50px;
}

#object_two {
	left: 65px;
	top: 65px;
	width: 70px;
	height: 70px;
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

#object_three {
	left: 55px;
	top: 55px;
	width: 90px;
	height: 90px;
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
}

#object_four {
	left: 45px;
	top: 45px;
	width: 110px;
	height: 110px;
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s;
}

@
-webkit-keyframes animate { 50% {
	-ms-transform: rotate(360deg) scale(0.8);
	-webkit-transform: rotate(360deg) scale(0.8);
	transform: rotate(360deg) scale(0.8);
}

}
@
keyframes animate { 50% {
	-ms-transform: rotate(360deg) scale(0.8);
	-webkit-transform: rotate(360deg) scale(0.8);
	transform: rotate(360deg) scale(0.8);
}

}
#loading {
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 10;
	background-color: rgba(255, 255, 255, 0.62);
	border-radius: 6px;
}

#played {
	position: initial;
	background-color: #fff;
	width: 100%;
	height: 100%;
	border-radius: 6px;
	overflow-x: auto;
}

#playbg {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	z-index: 9990;
	min-width: 800px;
	min-height: 450px;
	border-radius: 6px;
	opacity: 0.6;
	display: none;
}

.playout {
	z-index: 9999;
	min-width: 800px;
	min-height: 450px;
	position: fixed;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;
	opacity: 0;
	display: none;
}

.playreturn {
	margin-top: -30px;
	width: 45px;
	position: fixed;
	background-color: #fff;
	font-size: 32px;
	border-radius: 5px;
	padding-left: 5px;
	z-index: 99;
	height: 40px;
}

.playreturn a {
	color: #666
}

.playreturn a:hover {
	color: #3B3B3B
}

.playclose {
	margin-top: -30px;
	position: fixed;
	font-size: 32px;
	padding-left: 47px;
	background-color: #fff;
	border-radius: 5px;
	width: 85px;
	height: 40px;
}

.playclose a {
	color: #666
}

.playclose a:hover {
	color: #950000
}

#wrapper {
	min-width: 250px;
	max-width: 1008px;
	margin: 15px auto;
}

.brand-list {
	margin-left: -10px;
}

.brand-list .brand-bd {
	position: relative;
	margin-left: 10px;
	margin-top: 5px;
}

.brand-list .item, .brand-list .additem {
	position: absolute;
	width: 202px;
	background-color: #f8f8f8;
	border: 1px solid #f8f8f8;
	padding: 18px;
	top: 0;
	left: 40%;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}

.brand-list .hover {
	box-shadow: 0px 1px 8px rgba(200, 200, 200, .6);
	background-color: #fff;
	border-color: #c8c8c8;
}

.brand-list .additem {
	padding: 0;
	width: 240px;
	border: none;
}

.brand-list .item h3 {
	text-align: center;
	font-size: 100px;
	color: #666;
	font-family: arial;
	font-weight: bold;
	line-height: .8;
	margin-bottom: 20px;
}

.brand-list .item p {
	margin-bottom: 15px;
}

.notviews {
	top: 0;
	width: 100%;
	background-color: #FFF;
	height: 100%;
	position: absolute;
}

.pxc {
	font-size: 16px;
	margin-top: 14px;
}